@{
    //ViewBag.Title = "Home Page";
}

@model Reinders_Data_Mining_Web_App.Models.WebPageData

<script type="text/javascript">
    function testfunc() {
        $.get("/Home/Test", function (data) {
            $("iframe").attr("srcdoc", data);
        });
    }
</script>

<section class="presenter">
    <div class="control lfloat">
        <div id="logo" class="textalignc">
            <img src="~/Content/imgs/shared/reindersLogo.png" alt="Reinders, Inc." />
        </div>
        <input type="button" onclick="testfunc()" value="Do the magic" />
    </div>
    <div class="target-renderer lfloat">
        <iframe srcdoc=""></iframe>
    </div>
</section>