<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reinders, Inc</title>
    @Styles.Render("~/Content/home")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="main-view">
        <section class="presenter">
            <div class="control lfloat">
                <div id="logo" class="textalignc">
                    <img src="~/Content/imgs/shared/reindersLogo.png" alt="Reinders, Inc." />
                </div>
                <div id="urlentry" class="form-group">
                    <label for="website">Website:</label>
                    <input name="website" id="website" type="text" class="form-control" />
                </div>
                <ul id="tabSelection">
                    <li id="functionTabLink">
                        <a href="javascript:changeTab('functionTab')">Filter Creation</a>
                    </li>
                    <li id="controlTabLink" class="unselectedTab">
                        <a href="javascript:changeTab('controlTab')">Filters</a>
                    </li>
                </ul>
                <div id="tabControl">
                    <div id="functionTab">
                        <div id="filterswitch"> <!--Must change these ID's to their new meaning!-->
                            <label class="lfloat">Filter:</label>
                            <div class="switch lfloat">
                                <input id="enablefilters" class="cmn-toggle cmn-toggle-round" type="checkbox">
                                <label for="enablefilters"></label>
                            </div>
                        </div>
                        <div id="filtercontrols" style="display: none;">
                            <div id="sensitivitycontrol">
                                <label id="sensitivitylabel" for="sensitivity" class="lfloat">Level Sensitivity:</label>
                                <div id="sensitivitybuttons" class="lfloat">
                                    <input type='button' value='-' class='qtyminus btn btn-default btn-sm ' field='sensitivity' />
                                    <input type='text' name='sensitivity' id="sensitivity" value='0' class='qty form-control' readonly/>
                                    <input type='button' value='+' class='qtyplus btn btn-default btn-sm' field='sensitivity' />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="startmarker">Start Marker:</label>
                                <input name="startmarker" id="startmarker" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="prefix">Prefix:</label>
                                <input name="prefix" id="prefix" type="text" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="strip">Strip:</label>
                                <input name="strip" id="strip" type="text" class="form-control" />
                            </div>
                            <div id="columnselection">
                                <div class="form-group">
                                    <label class="lfloat" for="endmarker">Column:</label>
                                    <div class="checkbox lfloat">
                                        <label><input type="checkbox" value="">Defined on page</label>
                                    </div>
                                    <input name="column" id="column" type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <input id="savefilter" class="btn btn-default btn-sm" type="button" value="Save"/>
                                <input id="deletefilter" class="btn btn-default btn-sm" type="button" value="Delete" />
                            </div>
                        </div>
                        <img id="loadinggif" src="~/Content/imgs/shared/hex-loader2.gif" alt="Loading" />
                    </div>
                    <div id="controlTab" style="display: none">
                        @using (Html.BeginForm("FileUpload", "Home", 
                FormMethod.Post, new { enctype = "multipart/form-data" }))// be aware, null check this
                        {
                            <input class="btn-sm" name="uploadFile" type="file" />
                            <input class="btn btn-default btn-sm" type="submit" value="Upload File" />
                        }
                    </div>
                </div>
            </div>
            <div class="target-renderer lfloat">
                <iframe id="target-frame" srcdoc=""></iframe>
            </div>
        </section>
        <div class="footer">
            <p>Reinders, Inc. Data Mining Web Application</p>
        </div>
    </div>
</body>
@Scripts.Render("~/library/datamining")
</html>

