@{
    //ViewBag.Title = "Home Page";
}

@model Reinders_Data_Mining_Web_App.Models.WebPageData

<script type="text/javascript"></script>

<section class="presenter">
    <div class="control lfloat">
        <div id="logo" class="textalignc">
            <img src="~/Content/imgs/shared/reindersLogo.png" alt="Reinders, Inc." />
        </div>
        <ul>
            <li id="functionTabLink">
                <a href="javascript:changeTab('functionTab')">Functions</a>
            </li>
            <li id="controlTabLink" class="unselectedTab">
                <a href="javascript:changeTab('controlTab')">Control Panel</a>
            </li>
        </ul>
        <div id="tabControl">
            <div id="functionTab">
                <div id="urlentry"class="form-group">
                    <label for="website">Website:</label>
                    <input name="website" id="website" type="text" class="form-control"/>
                </div>
                <div id="filterswitch">
                    <label class="lfloat" >Filter:</label>
                    <div class="switch lfloat">
                        <input id="enablefilters" class="cmn-toggle cmn-toggle-round" type="checkbox">
                        <label for="enablefilters"></label>
                    </div>
                </div>
                <div id="filtercontrols">
                    asdfjasl;dj
                </div>
                <img id="loadinggif" src="~/Content/imgs/shared/hex-loader2.gif" alt="Loading" />
            </div>
            <div id="controlTab" >

            </div>
        </div>
    </div>
    <div class="target-renderer lfloat">
        <iframe id="target-frame" srcdoc=""></iframe>
    </div>
</section>