@{
    //ViewBag.Title = "Home Page";
}

@model Reinders_Data_Mining_Web_App.Models.WebPageData

<script type="text/javascript">
    function testfunc() {
        $.get("/Home/Test", function (data) {
            $("#target-frame").attr("srcdoc", data);
            $("#target-frame").load(function () {
                $("#target-frame").contents().find("body").click(function (event) {
                    $(event.target).css('outline', '5px solid red');
                });
                $("#target-frame").contents().find("body").mouseover(function (event) {
                    $(event.target).css('outline', '5px solid grey');
                });
                $("#target-frame").contents().find("body").mouseout(function (event) {
                    $(event.target).css('outline', '0');
                });
            });
        });
    }
</script>

<section class="presenter">
    <div class="control lfloat">
        <div id="logo" class="textalignc">
            <img src="~/Content/imgs/shared/reindersLogo.png" alt="Reinders, Inc." />
        </div>
        <input type="button" onclick="testfunc()" value="Do the magic" />
    </div>
    <div class="target-renderer lfloat">
        <iframe id="target-frame" srcdoc=""></iframe>
    </div>
</section>