html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    font-family: Verdana;
    margin: 0;
}

.floatl {
    float: left;
}

.floatr {
    float :right
}

.textalignl {
    text-align: left;
}

.textalignr {
    text-align: right;
}

.textalignc {
    text-align: center;
}

.fullwidth {
    width: 100% !important;
}