body {
    display: table;
    width: 100%;
    height: 100%;
}

body > section {
    display: table-row;
    width: 100%;
}

body > section > div {
    display: table-cell;
    width: 100%;
}

#navigationsection {
    height: 50px;
}

#navigationwrapper {
    line-height: 48px;
    display: flex;
}

#navigationwrapper div {
    margin-left: 5px;
    margin-right: 5px;
}

#navigationwrapper div:first-child {
    margin-left: 10px;
}

#navigationwrapper div:last-child {
    margin-right: 10px;
}

#urlwrapper {
    width: 100%;
}

#urlwrapper input {
    width: 100%;
}

#urlwrapper > span {
    line-height: inherit;
    display: none;
}


#iframewrapper {
    position: relative;
    overflow: hidden;
}

#iframewrapper::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -moz-box-shadow: inset 0 10px 10px -10px #000000,
                     inset 0 -10px 10px -10px #000000;
    -webkit-box-shadow: inset 0 10px 10px -10px #000000,
                        inset 0 -10px 10px -10px #000000;
    box-shadow: inset 0 10px 10px -10px #000000,
                inset 0 -10px 10px -10px #000000;
    pointer-events: none;
    z-index: 1;
}


#targetframe {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
}

#elementhighlighter {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
#elementselector {
    pointer-events: none;
    position: absolute;
}

#filtersection {
    z-index: 1;
    height: 300px;
}

#filterwrapper{
    margin-left: 5%;
    margin-right: 5%;
}

.third {
    width: 33%;
    overflow: auto;
    height: 100%;
    float: left;
}

#customisation {
    margin: 10px;
    font-size: 16px;
}

#customisation > div {
    line-height: 48px;
    display: flex;
    width: 100%;
}
#customisation > div > div {
    margin-right: 5px;
    margin-left: 5px;
}