body {
    display: table;
    width: 100%;
    height: 100%;
}

body > section {
    display: table-row;
    width: 100%;
}

body > section > div {
    display: table-cell;
    width: 100%;
}

#navigationsection {
    height: 50px;
}

#navigationwrapper {
    line-height: 48px;
    display: flex;
}

#navigationwrapper div {
    margin-left: 5px;
    margin-right: 5px;
}

#navigationwrapper div:first-child {
    margin-left: 10px;
}

#navigationwrapper div:last-child {
    margin-right: 10px;
}

#urlwrapper {
    width: 100%;
}

#urlwrapper input {
    width: 100%;
}

#urlwrapper > span {
    line-height: inherit;
    display: none;
}


#iframewrapper {
    position: relative;
    overflow: hidden;
}

#iframewrapper::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -moz-box-shadow: inset 0 10px 10px -10px #000000,
                     inset 0 -10px 10px -10px #000000;
    -webkit-box-shadow: inset 0 10px 10px -10px #000000,
                        inset 0 -10px 10px -10px #000000;
    box-shadow: inset 0 10px 10px -10px #000000,
                inset 0 -10px 10px -10px #000000;
    pointer-events: none;
    z-index: 1;
}


#targetframe {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
}



.canvas-container {
    position: absolute !important;
    top: 0;
    left: 0;
    pointer-events: none !important;
}

#elementselector {
    pointer-events: none;
    position: absolute;
}

#filtersection {
    z-index: 1;
    height: 300px;
}

#filterwrapper {
    margin-left: 5%;
    margin-right: 5%;
    height: inherit;
}

.third {
    width: 33.28%;
    overflow: auto;
    height: 100%;
    float: left;
    position: relative;
}

#midfiltersection {
    overflow: hidden;
    height: inherit;
}

.vr {
    height: 100%;
    width: 1px;
    background: #666;
    float: left;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ccc, #666, #ccc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ccc, #666, #ccc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ccc, #666, #ccc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ccc, #666, #ccc); /* Standard syntax */
}

.third > div {
    margin: 10px;
    font-size: 16px;
}

#customisation > div {
    line-height: 48px;
    display: flex;
    width: 100%;
}
#customisation > div > div {
    margin-right: 5px;
    margin-left: 5px;
}

#required {
    margin: 0;
}

#delete {
    position: absolute;
    bottom: 17px;
    right: 135px;
    float: right;
}

#record {
    position: absolute;
    bottom: 17px;
    right: 15px;
    float: right;
}

#titlewrapper {
    display: flex;
    line-height: 48px;
}

#titlewrapper div {
    margin-left: 5px;
    margin-right: 5px;
}

#titlewrapper div:first-child {
    margin-left: 10px;
}

#titlewrapper div:last-child {
    margin-right: 10px;
}

#filtercontainer {
    margin-top: 17px;
    overflow-y: scroll;
    height: calc(100% - 97px);
}

.filteritem {
    width: 96%;
    height: 48px;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 46px;
    margin-bottom: 15px;
    display: flex;
}

.filteritem div {
    margin-left: 5px;
    margin-right: 5px;
    display: inline;
}
.filteritem div:first-child {
    margin-left: 10px;
    line-height: inherit;
    top: 0;
}

.filteritem div:last-child {
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.filteritem div:nth-child(2) {
    width: 50%;
}

.filteritem:hover {
    background-color: #ccc;
}

.clusteritem {
    width: 96%;
    height: 48px;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 46px;
    margin-bottom: 15px;
    display: flex;
}

.clusteritem div {
    margin-left: 5px;
    margin-right: 5px;
    display: inline;
}
.clusteritem div:first-child {
    margin-left: 10px;
    line-height: inherit;
    top: 0;
}

.clusteritem div:last-child {
    margin-right: 10px;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.clusteritem:hover {
    background-color: #ccc;
}
