.selectedElement {
    outline: 2px solid red !important;
}
.selectedElement:link {
    outline: 2px solid red !important;
}
.selectedElement:visited {
    outline: 2px solid red !important;
}
.selectedElement:hover {
    outline: 2px solid red !important;
}
.selectedElement:active {
    outline: 2px solid red !important;
}


.deletedElement {
    outline: 2px solid purple !important;
}
.deletedElement:link {
    outline: 2px solid purple !important;
}
.deletedElement:visited {
    outline: 2px solid purple !important;
}
.deletedElement:hover {
    outline: 2px solid purple !important;
}
.deletedElement:active {
    outline: 2px solid purple !important;
}
